h1 {
    font-family: Andale Mono, monospace;
    color: #b2b2d8;
    margin: auto;
    font-size: 5rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}